
@{
    ViewData["Title"] = "AboutCollege";
}

<!-- ***** Breadcrumb Area Start ***** -->
<section class="section breadcrumb-area overlay-dark d-flex align-items-center">
    <div class="container">
        <div class="row">

        </div>
    </div>
</section>
<!-- ***** Breadcrumb Area End ***** -->
<!-- ***** About Area Start ***** -->
<section class="section about-area ptb_100">
    <div class="container">
        <div class="row justify-content-between align-items-center">
            <h4>ПОЛНОЕ НАИМЕНОВАНИЕ ОБРАЗОВАТЕЛЬНОЙ ОРГАНИЗАЦИИ</h4>
            <h2>Государственное бюджетное профессиональное образовательное учреждение города Москвы "Колледж современных технологий имени Героя Советского Союза М.Ф. Панова"</h2>
            <div class="col-12 col-lg-6">
                <!-- About Thumb -->
                <div class="about-thumb text-center">
                    <img src="~/assets/img/about/about_thumb_3.jpg" alt="">
                </div>
            </div>
            <div class="col-12 col-lg-6">
                <!-- About Content -->
                <div class="about-content section-heading text-center text-lg-left pl-md-4 mt-5 mt-lg-0 mb-0">
                    <h5>СОКРАЩЕННОЕ НАИМЕНОВАНИЕ ОБРАЗОВАТЕЛЬНОЙ ОРГАНИЗАЦИИ:</h5>
                    <h3 class="mb-3">
                        ГБПОУ КСТ
                    </h3>
                    <h5>ДАТА СОЗДАНИЯ ОБРАЗОВАТЕЛЬНОЙ ОРГАНИЗАЦИИ:</h5>
                    <p class="text-justify">
                        &nbsp;&nbsp;&nbsp;&nbsp;На основании распоряжения Департамента образования города Москвы от 29.04.2014 № 94р
                        Государственное бюджетное образовательное учреждение среднего профессионального образования города Москвы
                        «Строительный техникум № 12» с 08.07.2014 переименовано в Государственное бюджетное профессиональное образовательное
                        учреждение города Москвы «Колледж современных технологий имени Героя Советского Союза М.Ф. Панова».
                    </p><br>
                        <p class="text-justify">
                            &nbsp;&nbsp;&nbsp;&nbsp;<b>КСТ</b> входит в состав  Ассоциации защиты информации (АЗИ)
                            Также является ассоциированным членом некоммерческой Ассоциации Предприятий Компьютерных и
                            Информационных Технологий (АП КИТ), и тесно взаимодействует с Общественно-государственным объединением документальной
                            электросвязи (АДЭ)

                        </p>
                    
                    
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ***** About Area End ***** -->
<!-- ***** Our Goal Area Start ***** -->
<section class="section our-goal ptb_100">
    <div class="container">
        <div class="row justify-content-between align-items-center">
            <div class="col-12 col-lg-6">
                <!-- Goal Content -->
                <div class="goal-content section-heading text-center text-lg-left pr-md-4 mb-0">
                    <h1 class="mb-3">Об УК</h1>
                    
                    <p>
                        <b>Наименование:</b>  Учебный корпус № 3 «Ярославский»<br />
                        <b>Руководитель структурного подразделения</b> Бедретдинов Олег Ганеевич<br />
                        <b>Адрес(-а):</b>  город Москва, Хибинский проезд, дом 10<br />
                        <b>Электронная почта:</b>  kst@edu.mos.ru<br />
                        <b>Телефон:</b>  +7(499)182-40-40
                    </p>

                </div>
            </div>
            <div class="col-12 col-lg-6">
                <!-- Goal Thumb -->
                <div class="goal-thumb mt-5 mt-lg-0">
                    <img src="~/assets/img/about/about_thumb_4.jpg" alt="">
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ***** Our Goal Area End ***** -->
<!-- ***** Team Area Start ***** -->
<section class="section about-area ptb_100">
    <div class="container">
        <div class="row justify-content-between align-items-center">
            <div class="col-12 col-lg-6">
                <!-- About Thumb -->
                <div class="about-thumb text-center">
                    <img src="~/assets/img/about/about_thumb_5.jpg" alt="">
                </div>
            </div>
            <div class="col-12 col-lg-6">
                <!-- About Content -->
                <div class="about-content section-heading text-center text-lg-left pl-md-4 mt-5 mt-lg-0 mb-0">
                    <h1 class="mb-3">Директор колледжа</h1>
                    <h3 class="mb-3">Лунькин Александр Николаевич</h3>
                    <p>
                        <b>Контактный телефон:</b> +7 (499) 182-67-62

                        <b>Адрес электронной почты:</b> LunkinAN@edu.mos.ru
                    </p><br>
                    
                    <!-- Counter Area -->
                   
                </div>
            </div>
        </div>
    </div>
</section>
<section class="section ptb_100">
    <div class="container">
        <div class="row justify-content-between align-items-center">
            <div class="col-12 col-lg-12">
                <!-- Goal Content -->
                <div class="goal-content section-heading text-center text-lg-left pr-md-4 mb-0">
                    <h1 class="mb-3 text-center">Поступить на бюджет на базе 9 или 11 класса</h1>

                    <p>
                        Для участия в конкурсе на бюджетное место Вам необходимо в обязательном порядке подать заявление на
                        <b>портале mos.ru</b> из личного кабинета абитуриента <b>с 20 июня по 15 августа текущего года</b>.<br />

                        <b>Процедура подачи заявления на mos.ru</b><br />

                        1. Заходим в раздел “Услуги”. Выбираем раздел “Образование” → далее “Среднее специальное и профессиональное” → затем “Запись в колледж” и нажимаем на кнопку “ПОЛУЧИТЬ УСЛУГУ”.<br />
                        2. Получить услугу: в поисковой строке вводите “Панова”, выбираете Колледж современных технологий и нажимаете кнопку “ПРОДОЛЖИТЬ”.<br />
                        3. Заполнение формы заявления: заполните форму и прикрепите скан-копии документов.<br />
                        У аттестата Вы сканируете (объедините в один файл):<br />
                        — лист с номером и фамилией;<br />
                        — лист с оценками.<br />
                        Скан паспорта также нужно прикреплять правильно:<br />
                        — разворот паспорта с Ф.И.О. и номером и серией;<br />
                        — разворот паспорта с регистрацией в г. Москве (должны быть видны номер и серия паспорта!) или Форму с временной регистрацией в г. Москве.<br /><br />
                        <b>Поступление в колледж</b><br /><br />

                        <b>После 15 августа</b> приемная комиссия рекомендует к зачислению согласно рейтингу баллов.<br />

                        В <b>личный кабинет на портале mos.ru</b> Вам придет уведомление, на какую профессию/специальность Вы рекомендованы.<br />

                        Если вы не получили уведомление или не можете зайти в личный кабинет, свяжитесь по телефону с приемной комиссией колледжа и уточните, прошли ли вы конкурсный отбор.<br />

                        <b>Если вы рекомендованы к зачислению</b> и готовы поступать в наш колледж, то абитуриенту с законным представителем (если поступающий несовершеннолетний) необходимо в течение 5 рабочих дней <b>предоставить лично</b> следующие <b>документы</b>:<br />
                        <br />
                        1. Аттестат с приложением (оригинал)<br />
                        2. Паспорт (копия или оригинал)<br />
                        3. Регистрацию по г. Москве<br />
                        4. Медицинский полис (копия)<br />
                        5. Пенсионное страховое свидетельство (СНИЛС, копия)<br />
                        6. ИНН (при наличии)<br />
                        7. Справку 086/У (оригинал)<br />
                        8. Приписное свидетельство или военный билет (для мальчиков, старше 17)<br />
                        9. Фото размером 3*4 в 6 экземплярах<br />
                        10. Льготные документы (при наличии)<br />
                        11. Заполненное абитуриентом заявление на обучение<br />
                        12. Согласие на обработку персональных данных
                    </p>

                </div>
            </div>
            
        </div>
    </div>
</section>
<!-- ***** Team Area End ***** -->
<!--====== Modal Search Area Start ======-->
<div id="search" class="modal fade p-0">
    <div class="modal-dialog dialog-animated">
        <div class="modal-content h-100">
            <div class="modal-header" data-dismiss="modal">
                Search <i class="far fa-times-circle icon-close"></i>
            </div>
            <div class="modal-body">
                <form class="row">
                    <div class="col-12 align-self-center">
                        <div class="row">
                            <div class="col-12 pb-3">
                                <h2 class="search-title mb-3">What are you looking for?</h2>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent diam lacus, dapibus sed imperdiet consectetur.</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 input-group">
                                <input type="text" class="form-control" placeholder="Enter your keywords">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 input-group align-self-center">
                                <button class="btn btn-bordered mt-3">Search</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!--====== Modal Search Area End ======-->
<!--====== Modal Responsive Menu Area Start ======-->
<div id="menu" class="modal fade p-0">
    <div class="modal-dialog dialog-animated">
        <div class="modal-content h-100">
            <div class="modal-header" data-dismiss="modal">
                Menu <i class="far fa-times-circle icon-close"></i>
            </div>
            <div class="menu modal-body">
                <div class="row w-100">
                    <div class="items p-0 col-12 text-center"></div>
                </div>
            </div>
        </div>
    </div>
</div>

