
@{
    ViewData["Title"] = "Achievement";
}

<!-- ***** Breadcrumb Area Start ***** -->
<section class="section breadcrumb-area overlay-dark d-flex align-items-center">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <!-- Breamcrumb Content -->

            </div>
        </div>
    </div>
</section>
<!-- ***** Breadcrumb Area End ***** -->
<!-- ***** Portfolio Area Start ***** -->
<h1 class="text-center">Наши достижения</h1>
<section id="portfolio" class="portfolio-area style-two bg-gray overflow-hidden ptb_100">

    <div class="row justify-content-center">
        <div class="col-12 col-sm-6 col-lg-4 p-0">

            <!-- Single Case Studies -->
            <div class="single-case-studies mb-0">
                <!-- Case Studies Thumb -->
                <a href="#">
                    <img src="~/assets/img/news/blog-1.jpg" alt="">
                </a>
                <!-- Case Studies Overlay -->
                <a href="#" class="case-studies-overlay">
                    <!-- Overlay Text -->
                    <span class="overlay-text text-center p-3">
                        <h3 class="text-white mb-3">Конкурс курсовых работ</h3>
                        31.03.2022
                        <p class="text-white">
                             Евгений Ламбатов побеждает в конкурсе курсовых работ.
                        </p>
                    </span>
                </a>
            </div>
        </div>
        <div class="col-12 col-sm-6 col-lg-4 p-0">
            <!-- Single Case Studies -->
            <div class="single-case-studies mb-0">
                <!-- Case Studies Thumb -->
                <a href="#">
                    <img src="~/assets/img/news/blog-2.jpg" alt="">
                </a>
                <!-- Case Studies Overlay -->
                <a href="#" class="case-studies-overlay">
                    <!-- Overlay Text -->
                    <span class="overlay-text text-center p-3">
                        <h3 class="text-white mb-3">GoCTF</h3>
                        <h5>31.03.2022</h5>
                        <p class="text-white">Первые открытые соревнования по компьютерной безопасности среди команд колледжей Москвы и Подмосковья.</p>
                    </span>
                </a>
            </div>
        </div>
        <div class="col-12 col-sm-6 col-lg-4 p-0">
            <!-- Single Case Studies -->
            <div class="single-case-studies mb-0">
                <!-- Case Studies Thumb -->
                <a href="#">
                    <img src="~/assets/img/news/blog-3.jpg" alt="">
                </a>
                <!-- Case Studies Overlay -->
                <a href="#" class="case-studies-overlay">
                    <!-- Overlay Text -->
                    <span class="overlay-text text-center p-3">
                        <h3 class="text-white mb-3">Общегородской онлайн-марафон</h3>
                        <h5>31.03.2022</h5>
                        <p class="text-white">Общегородской онлайн-марафон<br/>
                            «Управляй проектом, командой, собой в большом городе»
                            Хакатон
                            Командное соревнование по решению прикладных задач</p>
                    </span>
                </a>
            </div>
        </div>
        <div class="col-12 col-sm-6 col-lg-4 p-0">
            <!-- Single Case Studies -->
            <div class="single-case-studies mb-0">
                <!-- Case Studies Thumb -->
                <a href="#">
                    <img src="~/assets/img/news/blog-4.jpg" alt="">
                </a>
                <!-- Case Studies Overlay -->
                <a href="#" class="case-studies-overlay">
                    <!-- Overlay Text -->
                    <span class="overlay-text text-center p-3">
                        <h3 class="text-white mb-3">Будет</h3>
                        <h5>30.03.2022</h5>
                        <p class="text-white">Будет</p>
                    </span>
                </a>
            </div>
        </div>
        <div class="col-12 col-sm-6 col-lg-4 p-0">
            <!-- Single Case Studies -->
            <div class="single-case-studies mb-0">
                <!-- Case Studies Thumb -->
                <a href="#">
                    <img src="~/assets/img/news/blog-5.jpg" alt="">
                </a>
                <!-- Case Studies Overlay -->
                <a href="#" class="case-studies-overlay">
                    <!-- Overlay Text -->
                    <span class="overlay-text text-center p-3">
                        <h3 class="text-white mb-3">Будет</h3>
                        <h5>30.03.2022</h5>
                        <p class="text-white">Будет</p>
                    </span>
                </a>
            </div>
        </div>
        <div class="col-12 col-sm-6 col-lg-4 p-0">
            <!-- Single Case Studies -->
            <div class="single-case-studies mb-0">
                <!-- Case Studies Thumb -->
                <a href="#">
                    <img src="~/assets/img/news/blog-6.jpg" alt="">
                </a>
                <!-- Case Studies Overlay -->
                <a href="#" class="case-studies-overlay">
                    <!-- Overlay Text -->
                    <span class="overlay-text text-center p-3">
                        <h3 class="text-white mb-3">Будет</h3>
                        <h5>28.03.2022</h5>
                        <p class="text-white">Будет</p>
                    </span>
                </a>
            </div>
        </div>

    </div>
    <div class="row justify-content-center">
        <a href="#" class="btn btn-bordered mt-5"></a>
    </div>
</section>
<!-- ***** Portfolio Area End ***** -->
<!-- ***** Review Area Start ***** -->
<!--====== Call To Action Area End ======-->
