
@{
    ViewData["Title"] = "Contact";
}

    <!-- ***** Header End ***** -->
    <!-- ***** Breadcrumb Area Start ***** -->
    <section class="section breadcrumb-area overlay-dark d-flex align-items-center">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <!-- Breamcrumb Content -->
                    
                </div>
            </div>
        </div>
    </section>
    <!-- ***** Breadcrumb Area End ***** -->
    <!--====== Contact Area Start ======-->
   
    <!--====== Contact Area End ======-->
    <!--====== Map Area Start ======-->
    <section class="section map-area">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d17909.91593119254!2d37.67429179323482!3d55.867186107370685!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46b5314f73b8dcd9%3A0x4fd496f679ca940d!2z0JrQvtC70LvQtdC00LYg0YHQvtCy0YDQtdC80LXQvdC90YvRhSDRgtC10YXQvdC-0LvQvtCz0LjQuSDQuNC80LXQvdC4INCT0LXRgNC-0Y8g0KHQvtCy0LXRgtGB0LrQvtCz0L4g0KHQvtGO0LfQsCDQnC7QpC4g0J_QsNC90L7QstCw!5e0!3m2!1sru!2sru!4v1650034626916!5m2!1sru!2sru" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </section>
    <!--====== Map Area End ======-->
  

