
@{
    ViewData["Title"] = "Project";
}

<!-- ***** Breadcrumb Area Start ***** -->
<section class="section breadcrumb-area overlay-dark d-flex align-items-center">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <!-- Breamcrumb Content -->
                        
            </div>
        </div>
    </div>
</section>
<!-- ***** Breadcrumb Area End ***** -->
<!-- ***** Portfolio Area Start ***** -->
<!-- ***** Portfolio Area Start ***** -->
<section id="portfolio" class="portfolio-area overflow-hidden ptb_100">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-md-10 col-lg-7">
                <!-- Section Heading -->
                <div class="section-heading text-center">
                    <h1>Наши работы</h1>
                    <p class="d-none d-sm-block mt-4">Наши курсовые проекты и прочее</p>
                    <p class="d-block d-sm-none mt-4">Список проектов</p>
                </div>
            </div>
        </div>
        <div class="row justify-content-center text-center">
            <div class="col-12">
                <!-- Portfolio Menu -->
                <div class="portfolio-menu btn-group btn-group-toggle flex-wrap justify-content-center text-center mb-4 mb-md-5" data-toggle="buttons">
                    <label class="btn active d-table text-uppercase p-2">
                        <input type="radio" value="all" checked class="portfolio-btn">
                        <span>Все</span>
                    </label>
                    <label class="btn d-table text-uppercase p-2">
                        <input type="radio" value="curs" class="portfolio-btn">
                        <span>Курсовые</span>
                    </label>
                    <label class="btn d-table text-uppercase p-2">
                        <input type="radio" value="dipl" class="portfolio-btn">
                        <span>Дипломные</span>
                    </label>
                    <label class="btn d-table text-uppercase p-2">
                        <input type="radio" value="other" class="portfolio-btn">
                        <span>Прочее</span>
                    </label>

                </div>
            </div>
        </div>
        <!-- Portfolio Items -->
        <div class="row items portfolio-items">
            <div class="col-12 col-sm-6 col-lg-4 portfolio-item" data-groups='["curs"]'>
                <!-- Single Case Studies -->
                <div class="single-case-studies">
                    <!-- Case Studies Thumb -->
                    <a href="#">
                        <img src="~/assets/img/case_studies/case_studies_1/thumb_2.jpg" alt="">
                    </a>
                    <!-- Case Studies Overlay -->
                    <a href="#" class="case-studies-overlay">
                        <!-- Overlay Text -->
                        <span class="overlay-text text-center p-3">
                            <h3 class="text-white mb-3">Отдел кадров</h3>
                            <h5 class="text-white mb-3">Шилов Илья</h5>
                            <p class="text-white">Проектирование, моделирование и разработка информационной системы по учету сотрудников образовательной организации</p>
                        </span>
                    </a>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-lg-4 portfolio-item" data-groups='["other"]'>
                <!-- Single Case Studies -->
                <div class="single-case-studies">
                    <!-- Case Studies Thumb -->
                    <a href="#">
                        <img src="~/assets/img/case_studies/case_studies_1/thumb_3.jpg" alt="">
                    </a>
                    <!-- Case Studies Overlay -->
                    <a href="#" class="case-studies-overlay">
                        <!-- Overlay Text -->
                        <span class="overlay-text text-center p-3">
                            <h3 class="text-white mb-3">Отдел кадров ТЦ</h3>
                            <h5 class="text-white mb-3">Шамин Андрей</h5>
                            <p class="text-white">Проектирование, моделирование и разработка информационной системы по учету сотрудников торгового предприятия</p>
                        </span>
                    </a>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-lg-4 portfolio-item" data-groups='["curs"]'>
                <!-- Single Case Studies -->
                <div class="single-case-studies">
                    <!-- Case Studies Thumb -->
                    <a href="#">
                        <img src="~/assets/img/case_studies/case_studies_1/thumb_1.jpg" alt="">
                    </a>
                    <!-- Case Studies Overlay -->
                    <a href="#" class="case-studies-overlay">
                        <!-- Overlay Text -->
                        <span class="overlay-text text-center p-3">
                            <h3 class="text-white mb-3">Отдел вакансий</h3>
                            <h5 class="text-white mb-3">Маркус Игорь</h5>
                            <p class="text-white">Моделирование и разработка информационной системы учета вакансий отдела</p>
                        </span>
                    </a>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-lg-4 portfolio-item" data-groups='["curs"]'>
                <!-- Single Case Studies -->
                <div class="single-case-studies">
                    <!-- Case Studies Thumb -->
                    <a href="#">
                        <img src="~/assets/img/case_studies/case_studies_1/thumb_4.jpg" alt="">
                    </a>
                    <!-- Case Studies Overlay -->
                    <a href="#" class="case-studies-overlay">
                        <!-- Overlay Text -->
                        <span class="overlay-text text-center p-3">
                            <h3 class="text-white mb-3">Пропуски занятий</h3>
                            <h5 class="text-white mb-3">Перфилевский Данила</h5>
                            <p class="text-white">Проектирование, моделирование и разработка подсистемы по учету посещаемости занятий студентами</p>
                        </span>
                    </a>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-lg-4 portfolio-item" data-groups='["curs"]'>
                <!-- Single Case Studies -->
                <div class="single-case-studies">
                    <!-- Case Studies Thumb -->
                    <a href="#">
                        <img src="~/assets/img/case_studies/case_studies_1/thumb_5.jpg" alt="">
                    </a>
                    <!-- Case Studies Overlay -->
                    <a href="#" class="case-studies-overlay">
                        <!-- Overlay Text -->
                        <span class="overlay-text text-center p-3">
                            <h3 class="text-white mb-3">Психологическое тестирование</h3>
                            <p class="text-white">Проектирование, моделирование и разработка подсистемы по учету результатов тестирования респондентов</p>
                        </span>
                    </a>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-lg-4 portfolio-item" data-groups='["dipl","curs","other"]'>
                <!-- Single Case Studies -->
                <div class="single-case-studies">
                    <!-- Case Studies Thumb -->
                    <a href="#">
                        <img src="~/assets/img/case_studies/case_studies_1/thumb_6.jpg" alt="">
                    </a>
                    <!-- Case Studies Overlay -->
                    <a href="#" class="case-studies-overlay">
                        <!-- Overlay Text -->
                        <span class="overlay-text text-center p-3">
                            <h3 class="text-white mb-3">Склад по ремонту</h3>
                            <p class="text-white">Проектирование, моделирование и разработка подсистемы по учету склада по ремонту</p>
                        </span>
                    </a>
                </div>
            </div>
        </div>
        
    </div>
</section>
<!-- ***** Portfolio Area End ***** -->
